.container
  .row.picker
    .col-xs-12.picker
      h1 What state do you live in?
      select#state-picker(data-placeholder='Pick a state...')
        option
        each state in states
          option(value=state.slug)= state.name

  #states
    each s in states
      .row.state(id='state-' + s.slug)
        .col-sm-6.name
          h1= s.name
          p Picture goes here
        .col-sm-6.stats
          .row
            .col-xs-12
              h1= s.headline
              p
                strong= s.electionsClose
                |  of #{s.electionsTotal} recent presidential elections
                = ' ' + s.havePlural + ' '
                | been close (±10%):

          .row
            .col-xs-12.results
              each row in s.elections
                .result(class=row.close ? 'close-race' : 'not-close-race')
                  p.year= row.year
                  p.margin(class=row.dem_win ? 'dem' : 'rep')= row.winner_margin_text

          p The odds of #{s.name} flipping are
            strong= ' ' + s.flipLikelihood + '. '
            = s.flavorText
