.container
  .row.picker
    .col-xs-12
      h1 What state do you live in?
      select#state-picker.chosen-select(data-placeholder='Pick a state...')
        option
        each state in states
          option(value=state.slug)= state.name

  #states
    each s in states
      .row.state(id='state-' + s.slug)
        .col-sm-6.name
          h1= s.name
          p Picture goes here
        .col-sm-6.stats
          h1= s.headline
          p
            strong= s.electionsClose
            |  of seven recent presidential elections
            = ' ' + s.havePlural + ' '
            | been close (±10%):

          each row in s.elections
            .row(class=row.close ? 'close-race' : '')
              .col-sm-4
                p= row.year
              .col-sm-4
                p Dem win: #{row.dem_win}
              .col-sm-4
                p Margin: #{row.dem_win_margin}

          p The odds of #{s.name} flipping are
            strong= ' ' + s.flipLikelihood + '. '
            = s.flavorText
