.container
  .row
    .col-xs-12
      h1 What state do you live in?
  select#state-picker
    option Select a state...
    each state in states
      option(value=state.slug)= state.name

  #states
    each state in states
      .row(id='state-' + state.slug)
        .col-xs-12
          h1= state.name
          p Swinginess: #{state.swinginess}
          each row in state.history
            .row(class=row.close ? 'close-race' : '')
              .col-sm-4
                p= row.year
              .col-sm-4
                p Dem win: #{row.dem_win}
              .col-sm-4
                p Margin: #{row.dem_win_margin}
